fastapi
uvicorn
python-multipart
pydantic
starlette

langchain
langchain-core
langchain-openai
langchain-text-splitters
langgraph

openai
python-dotenv
dashscope
FlagEmbedding

pymilvus
pymongo

requests
aiohttp

minio
